.row-fluid
  .span3
    .well
      %h3 Sections
      %ol
        %li
          %a{:href => "#section-1"} Section 1
        %li
          %a{:href => "#section-2"} Section 2
  .span9
    %h2 About

    %h4#section-1 Section 1
    
    %h4#section-2 Section 2