.row-fluid
  .span9
    %h2 Recycling locations in Chicago
    
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Type
          %th Recyclables
          %th Address
          %th Hours
      %tbody
        - @recycling_locations.each do |location|
          %tr
            %td
              =location[:name]
            %td
              =location[:type]
            %td
              =location[:recyclables]
            %td
              =location[:address]
            %td
              =location[:hours]