.row-fluid
  .span12
    %h3 Plows in action Dec 13-14, 2013
    %p
      Watch where the 300+ City of Chicago snow plows went between Dec 13-14, 2013. They start by plowing and salting the main roads and around 2pm Dec 14 start plowing the side streets.

    <iframe width='100%' height='520' frameborder='0' src='http://clearstreets.cartodb.com/viz/98f5537e-6668-11e3-ba1e-2f54c223712e/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=false&scrollwheel=true&sublayer_options=1&sql=SELECT%20*%20FROM%20playback_2013_12_13%20where%20time%20%3E%20'2013_12_13%2022%3A00%3A00'%20and%20time%20%3C%20'2013_12_14%2022%3A00%3A00'&sw_lat=41.85294071095589&sw_lon=-87.74368286132811&ne_lat=41.91556321720713&ne_lon=-87.57888793945312'></iframe>
    %span.pull-right
      An 
      %a{:href => 'http://opencityapps.org'} Open City
      project by Derek Eder, Forest Gregg and Juan-Pablo Velez

- content_for :javascripts do
  :javascript
    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 190; // Calculate the top offset
    
      $('iframe').attr('height', (h - offsetTop));
    }).resize();