.row-fluid
  .span12
    %h3 Plows in action Dec 13-14, 2013
    %p
      Watch where the 300+ City of Chicago snow plows went between Dec 13-14, 2013. They start by plowing and salting the main roads and around 2pm Dec 14 start plowing the side streets.

    <iframe width="100%" height="520" frameborder="0" src="https://clearstreets.carto.com/builder/7fbd37d0-118e-4e59-9010-52bbf272c560/embed?state=%7B%22map%22%3A%7B%22ne%22%3A%5B41.75287318430239%2C-87.88513183593751%5D%2C%22sw%22%3A%5B41.97276436226528%2C-87.31452941894533%5D%2C%22center%22%3A%5B41.86291329896065%2C-87.5998306274414%5D%2C%22zoom%22%3A11%7D%2C%22widgets%22%3A%7B%222ea45db5-01b6-40ec-b543-beb8f6ad8bf5%22%3A%7B%22normalized%22%3Atrue%7D%7D%7D" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

    %span.pull-right
      A
      %a{:href => 'http://datamade.us'} DataMade
      project by Derek Eder, Forest Gregg and Juan-Pablo Velez

- content_for :javascripts do
  :javascript
    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 190; // Calculate the top offset
    
      $('iframe').attr('height', (h - offsetTop));
    }).resize();