.row
  .span8
    %h1 Plow activity

    %p
      Each plow in the City of Chicago is given an 'asset name' like 
      = succeed '.' do
        %strong S11321
      We can use this to track which plows are the most active.

    %p This page is updated every 15 minutes.

    - if @plows.count > 0
      - max_tracks = @plows.first[:"count()"].to_f
      %ol
        - @plows.each do |plow|
          - if plow[:"count()"] != '1'
            %li
              %h3{:id => plow[:plow_id]}
                = plow[:plow_id]
                %small
                  = plow[:"count()"] 
                  traces
              .progress
                .bar{:style => "width: #{100*plow[:"count()"].to_f/max_tracks}%;"}

    - else
      %p.lead.alert.alert-info No plow data at this time. Check back later!